<!-- Footer -->

<footer >


  <div class="w3-container w3-center">
  <img  style="display: block;margin-left: auto;margin-right: auto;width: 15%;" class="w3-circle"
  src="{{"assets/images/arize1.jpg"| relative_url}}">
  <p class="w3-text-black">I am a data science, mathematics, statistics, machine and deep learning enthusiast. I enjoy learning new technologies
    and ideals. I am looking for an employment opporctunity or an opportunity to further my studies (MSc. or PhD). You can learn more about me at the
  <a style="color:blue;" href="https://emmanuel-arize.github.io/datascience-blog/about/">About Page</a></p>

    
</div>


      </footer>
