<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
 <style>
#ma{
margin-right: 150px;
 
}
body {
    font-size: 20px;
}
    </style>
  {%- include head.html -%}

 <body>

    {%- include navigation.html -%}
    <br>
<br style="margin-top:30px;">
<br>
<br>
    <br style="margin-top: 50px;">
    <div id="ma" class="w3-container w3-card-4 w3-margin w3-white" 
    style="margin-left: 100px;">
    {{ content }}

  </div>

    {%- include footer.html -%}
  </body>

</html>
<link rel="stylesheet" href="{{ "/assets/content/w3.css" | relative_url}}">
<script id="MathJax-script" async
          src="{{"/assets/scripts/tex-mml-chtml.js" | relative_url}}">
  </script>
 <script type="text/javascript" id="MathJax-script" async
src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.0.0/es5/tex-svg.js">
</script>


